# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
analysis
run
run2
net
run-data
deplib
plans
.vscode
docs
logs

# datagen cache
src/generated/resources/.cache/

# Files from Forge MDK
forge*changelog.txt

# some shader else 
shaderDev/SuperNovaConvergence
shaderDev/SomeShaderPacks 

# no ready for public yet (我很确定没写完，可视化glsl真麻烦)
richTextEditor